@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to your new app.</p>
    <p>
        <a href="/Privacy">Privacy</a>
    </p>
</div>
